  <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <h5 class="my-0 mr-md-auto font-weight-light">KEC Sample Page</h5>
    <nav class="my-2 my-md-0 mr-md-3">
      <a class="p-2 text-dark" href="/">Home</a>
      <a class="p-2 text-dark" href="/">Enterprise</a>
      <a class="p-2 text-dark" href="/">Support</a>
      <a class="p-2 text-dark" href="/">Pricing</a>
    </nav>
    {% if 'username' not in request.session %}
    <a class="btn btn-outline-primary" href="{% url 'register' %}">Sign Up</a>
    <a class="ml-3 btn btn-outline-primary" href="{% url 'login' %}">LogIn</a>
    
    {% else %}

    <a class="nav-link dropdown-toggle" 
      id="dropdown01" data-toggle="dropdown" aria-haspopup="true"
      aria-expanded="false"><i class="fas fa-user"></i></a>
      <div class="dropdown-menu" aria-labelledby="dropdown01">
        <a class="dropdown-item" href="{% url 'profile' %}">Profile</a>
        <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
      </div>
      {% endif %}
  </div>