{% extends 'base/base.html' %}
{% block title %} Login
{% endblock %}

{% load static %}

{% block customstyles %}
<link href="{% static 'css/style.css' %}" rel="stylesheet">
{% endblock %}

{% block pagenavbar %}
{% include 'base/_navbar.html' %}
{% endblock %}

{% block content %}
<div class=" text-center mt-5">
	<div class="row ">
		<div class="offset-lg-4 col-lg-4">

			<div class="card tx text-center " >
				<div class="card-header text-uppercase bg-dark white-text h4-responsive">
					Log In
				</div>
				<div class="card-body">
					<p class="card-text">
						<form method="POST" action='.'>
							{% csrf_token %}
							{{ form.as_p }}
							<input type="submit" name="Submit" class="btn btn-outline-primary btn-rounded btn-block my-4 waves-effect z-depth-0">
						</form>
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}